
/* change header-color */
.browser-toolbar {
    color: rgb(168, 255, 255) !important;
  }

/* change tab-color for selected */
.tabbrowser-tab:is([selected], [multiselected]) {
  color: rgb(168, 255, 255) !important;
}

/* change tab-border for selected */
#navigator-toolbox {
  --lwt-tabs-border-color: transparent !important; }
#tabbrowser-tabs {
  --lwt-tab-line-color: rgb(0, 230, 161) !important; }

/* change url-color if not selected */
#urlbar-background {
    border-color:rgba(168, 255, 255, 0.356) !important;
}